<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}

        <!-- Ad Banner Section -->
        <div class="ad-banner">
            Admission Open!!
            <div class="box box-bhm">BHM</div>
            <div class="box box-bim">BIM</div>
            <div class="box box-bbs">BBS</div>
            | Limited Seats Available
        </div>
<h2 class="text-center mb-4">Check your Scholarship!!</h2>
<h2 class="text-center mb-4">Enter Your Details</h2>
<form action="{{ url_for('form') }}" method="post" class="card p-4 shadow-sm">
    <div class="form-group">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" name="name" id="name" required>
    </div>
    <div class="form-group">
        <label for="phone" class="form-label">Phone Number:</label>
        <input type="tel" class="form-control" name="phone" id="phone" pattern="[0-9]{10}" 
               title="Please enter a 10-digit phone number." required>
    </div>
    <div class="form-group">
        <label for="email" class="form-label">Email Address:</label>
        <input type="email" class="form-control" name="email" id="email" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Next</button>
</form>
{% endblock %}
